.header__top {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

@media screen and (max-width: 700px) {
  .header__top {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 50px;
  }

  .header__logo {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    height: 2rem;
  }

  .header__nav  {
    display: none;
    flex-direction: row;
    font-size: 18px;
    color: #1f1534;
  }

  .hamburger {
    position: absolute;
    display: inline;
    margin-left: -100vw;
    margin-top: -5vw;
  }
}

@media screen and (min-width: 701px) {
  .header__nav ul {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #1f1534;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }

  .hamburger {
    display: none;
    height: 0px;
    width: 0px;
  }
}


.nav__item:first-of-type {
  font-weight: bold;
  opacity: 1;
}

.nav__item {
  margin-right: 40px;
  opacity: 0.5;
}

.logo__ellipse {
  font-weight: bold;
  font-size: 1.33rem;
  width: 2.56rem;
  height: 2.56rem;
  color: white;
  background: blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.75rem;
}

.logo__name {
  font-weight: 700;
  font-size: 1.33rem;
  line-height: 2rem;
  color: #233348;
}


@media screen and (max-width: 700px) {

  }
  

@media screen and (min-width: 701px) {

}
