.hero__top-dots{
    position: absolute;
    top: 180px;
    left: 0px;
    opacity: 0.5;
    display: inline;
    z-index: -1;
}

.hero__image{
    margin-left: 10vw;
    width: 43.3vw;
    height: 37.3vw;
}

.hero__article{
    width: 28vw;
    left: 12.5vw;
    top: 9.5vw;
}

.hero__button{
    display: flex;
    background: #458FF6;
    border-radius: 55px;
    align-items: center;
    justify-content: center;
    color: white;
    height: 3.5vw;
    width: 12.5vw;
    font-size: 1.1vw;
    line-height: 4vw;
}